
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.2rem;
}.item--SrM {
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  width: 100%;

  .property-1default-y5b {
    width: 100%;
    height: 1.8rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .item--JtZ {
      font-family: Helvetica, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.05rem 2.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
    }
    .item--RTP {
      color: #a50113;
      font-family: Helvetica, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
  .property-1variant2-8ch {
    height: 1.8rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;

    .item-123456-5nq {
      font-weight: 400;
      line-height: 1.2575;
      color: #000000;
      font-family: Helvetica, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 3rem 0rem 0rem;
      font-size: 1.6rem;
    }
    .item--1Ah {
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #a50113;
      font-family: Helvetica, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
