
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.5rem;
}.create-account-GX3 {
  position: relative;
  width: 100%;
  height: 102.4rem;

  .rectangle-52-R93 {
    width: 56.8rem;
    height: 10rem;
    position: absolute;
    left: 73.6rem;
    top: 5.6rem;
    background-color: #d9d9d9;
  }
  .desktop-1-953 {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: 144rem;
    height: 102.4rem;

    .rectangle-46-Ud7 {
      width: 72rem;
      height: 125.1rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .group-12-1d3 {
    background-color: #fffbf2;
    border-radius: 5rem 0 0 0;
    box-sizing: border-box;
    width: 84rem;
    height: 102.4rem;
    position: absolute;
    top: 0;
    display: flex;
    padding: 8rem 24.8rem 38.1rem 24.8rem;
    left: 60.5rem;
    align-items: center;
    flex-direction: column;

    .item--uyK {
      margin: 0rem 0rem 3.4rem 7.4rem;
      font-weight: 800;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      line-height: 1.1725;
      letter-spacing: 0.08rem;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
    }
    .email-login-Nru {
      padding: 2.4rem;
      width: 100%;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      row-gap: 2.4rem;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.8rem;

      .sec-huB {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .item--epR {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #111111;
          font-family: Helvetica, 'Source Sans Pro';
        }
        .sec-ZAh {
          white-space: nowrap;
          border: solid 0.1rem #eeeeee;
          background-color: rgba(249, 249, 249, 0.8000000119);
          flex-shrink: 0;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          color: #111111;
          border-radius: 0.4rem;
          box-sizing: border-box;
          padding: 0.8rem 0.8rem 0.6rem 0.8rem;
          line-height: 1.2575;
          font-family: Helvetica, 'Source Sans Pro';
        }
      }
      .sec-End {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--QBK {
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #111111;
        }
        .sec-iho {
          box-sizing: border-box;
          padding: 0.8rem 0.8rem 0.6rem 0.8rem;
          width: 100%;
          font-size: 1.4rem;
          line-height: 1.2575;
          color: #111111;
          font-family: Helvetica, 'Source Sans Pro';
          border: solid 0.1rem #eeeeee;
          border-radius: 0.4rem;
          font-weight: 400;
          white-space: nowrap;
          background-color: rgba(249, 249, 249, 0.8000000119);
          flex-shrink: 0;
        }
      }
      .sec-QKj {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--Aph {
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #111111;
        }
        .sec-HeR {
          padding: 0.8rem 0.8rem 0.6rem 0.8rem;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Helvetica, 'Source Sans Pro';
          border: solid 0.1rem #eeeeee;
          background-color: rgba(249, 249, 249, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          border-radius: 0.4rem;
          color: #111111;
          white-space: nowrap;
          line-height: 1.2575;
        }
      }
      .sec-Nfs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .item--Y4Z {
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #111111;
        }
        .sec-rb3 {
          color: #111111;
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          background-color: rgba(249, 249, 249, 0.8000000119);
          box-sizing: border-box;
          padding: 0.8rem 0.8rem 0.6rem 0.8rem;
          width: 100%;
          font-weight: 400;
          flex-shrink: 0;
          font-size: 1.4rem;
          line-height: 1.2575;
          border: solid 0.1rem #eeeeee;
          border-radius: 0.4rem;
        }
      }
      .sec-9q3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--it9 {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #111111;
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
        }
        .sec-S3T {
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          background-color: rgba(249, 249, 249, 0.8000000119);
          border-radius: 0.4rem;
          padding: 0.8rem 0.8rem 0.6rem 0.8rem;
          width: 100%;
          font-weight: 400;
          color: #111111;
          flex-shrink: 0;
          box-sizing: border-box;
          font-size: 1.4rem;
          line-height: 1.2575;
          border: solid 0.1rem #eeeeee;
        }
      }
      .sec-vUR {
        width: 100%;
        height: 3.4rem;
        line-height: 1.2575;
        color: #ffffff;
        background-color: #007aff;
        font-weight: 700;
        white-space: nowrap;
        align-items: center;
        border-radius: 0.8rem;
        font-family: Helvetica, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.6rem;
        display: flex;
        justify-content: center;
      }
    }
  }
}
