
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 197.5rem;
}.group-4-SSV {
  width: 100%;
  display: flex;
  align-items: center;

  .auto-group-bxqz-grd {
    position: relative;
    flex-shrink: 0;
    margin-right: 2rem;
    width: 55rem;
    height: 41rem;

    .item--MLV {
      left: 28.5rem;
      top: 0;
      overflow: hidden;
      height: 41rem;
      position: absolute;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 5.9rem 0rem 0rem 3.1rem;
      width: 26.5rem;

      .image-23-Aoj {
        height: 21rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.1rem 0.8rem 0rem;
        width: 15.7rem;
      }
      .item--sTF {
        line-height: 1.1825;
        color: #000000;
        font-family: ABeeZee, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 6.1rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .group-3-ueq {
        width: calc(100% - 6.4rem);
        line-height: 1.2575;
        white-space: nowrap;
        display: flex;
        background-color: #b23a3a;
        flex-shrink: 0;
        margin: 0rem 4.7rem 0rem 1.7rem;
        color: #ffffff;
        font-weight: 800;
        font-size: 1.6rem;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        height: 4.3rem;
      }
    }
    .item--YC1 {
      width: 36.9rem;
      height: 36.9rem;
      position: absolute;
      left: 0;
      top: 4.1rem;

      .auto-group-jbo7-TZs {
        position: relative;
        margin-bottom: 6.4rem;
        width: 100%;
        height: 26.2rem;

        .image-22-ns3 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 26.5rem;
          height: 23.9rem;
        }
        .item--vTT {
          left: 1.6rem;
          font-family: ABeeZee, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.1825;
          color: #000000;
          width: 35.3rem;
          height: 2.9rem;
          position: absolute;
          top: 23.3rem;
          white-space: nowrap;
        }
      }
      .group-2-Yjj {
        height: 4.3rem;
        font-size: 1.6rem;
        font-weight: 800;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        background-color: #b23a3a;
        margin-left: 4.8rem;
        width: 17rem;
        line-height: 1.2575;
        color: #ffffff;
        white-space: nowrap;
        display: flex;
      }
    }
  }
  .item--qTw {
    flex-shrink: 0;
    margin-right: 2rem;
    width: 26.5rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12.4rem 0rem 0rem 3.9rem;
    height: 41rem;
    position: relative;

    .image-24-KP7 {
      margin: 0rem 3.9rem 1.3rem 0rem;
      width: 13.3rem;
      height: 14.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--2oK {
      font-weight: 400;
      line-height: 1.1825;
      color: #000000;
      font-family: ABeeZee, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 6rem;
      font-size: 2.4rem;
    }
    .group-2-7pm {
      margin-right: 3.8rem;
      font-size: 1.6rem;
      justify-content: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      height: 4.3rem;
      font-weight: 800;
      line-height: 1.2575;
      font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
      background-color: #b23a3a;
      width: 17rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .item--R4m {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    padding: 11.3rem 0rem 0rem 2.7rem;
    height: 41rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 26.5rem;

    .image-25-KA9 {
      height: 15rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 2.6rem 1.5rem 0rem;
      width: 18rem;
    }
    .item--SEm {
      color: #000000;
      font-family: ABeeZee, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 6rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1825;
    }
    .group-2-ixy {
      width: calc(100% - 6.8rem);
      align-items: center;
      height: 4.3rem;
      font-size: 1.6rem;
      font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      margin: 0rem 4.7rem 0rem 2.1rem;
      cursor: pointer;
      font-weight: 800;
      background-color: #b23a3a;
      line-height: 1.2575;
      color: #ffffff;
      justify-content: center;
      flex-shrink: 0;
    }
  }
  .auto-group-y5tv-BrZ {
    width: 85.5rem;
    height: 41rem;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.8rem 0rem 0rem 5.9rem;

    .item--JgH {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.7rem;

      .image-24-SGh {
        margin: 0rem 0rem 1.3rem 1.4rem;
        width: 16rem;
        height: 18.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item--koB {
        margin-bottom: 6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1825;
        color: #000000;
        font-family: ABeeZee, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-2-Svu {
        font-weight: 800;
        white-space: nowrap;
        line-height: 1.2575;
        color: #ffffff;
        align-items: center;
        background-color: #b23a3a;
        flex-shrink: 0;
        margin-left: 0.9rem;
        width: 17rem;
        font-size: 1.6rem;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        height: 4.3rem;
        display: flex;
        justify-content: center;
      }
    }
    .item--w6y {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 6.2rem;

      .image-24-gKT {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 1.3rem 0.5rem;
        width: 16rem;
        height: 18.7rem;
      }
      .item-2-avd {
        margin: 0rem 0rem 6rem 2.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1825;
        color: #000000;
        font-family: ABeeZee, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-2-sPw {
        font-size: 1.6rem;
        color: #ffffff;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        width: 17rem;
        font-weight: 800;
        line-height: 1.2575;
        align-items: center;
        justify-content: center;
        background-color: #b23a3a;
        flex-shrink: 0;
        height: 4.3rem;
      }
    }
    .item--mkD {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .image-24-u5j {
        flex-shrink: 0;
        margin: 0rem 0rem 1.3rem 1.4rem;
        width: 16rem;
        height: 18.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .item--2AM {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1825;
        color: #000000;
        font-family: ABeeZee, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 6rem;
      }
      .group-2-KQM {
        display: flex;
        width: 17rem;
        font-size: 1.6rem;
        font-weight: 800;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        color: #ffffff;
        justify-content: center;
        background-color: #b23a3a;
        flex-shrink: 0;
        margin-left: 0.9rem;
        height: 4.3rem;
        line-height: 1.2575;
        align-items: center;
        white-space: nowrap;
      }
    }
  }
}
