
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-setting-rbB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;

  .taskbar-C9F {
    flex-shrink: 0;
    margin-bottom: 8.5rem;
    width: 100%;
    height: 10.9rem;
    position: relative;

    .rectangle-1-Kjf {
      background-color: #000000;
      width: 144rem;
      height: 10.5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .item--rzV {
      left: 98rem;
      top: 6.1rem;
      width: 17rem;
      height: 3.3426rem;
      position: absolute;

      .bar-aQh {
        object-fit: contain;
        vertical-align: top;
        width: 17rem;
        height: 3.3426rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .item--vUZ {
        height: 3.1197rem;
        position: absolute;
        left: 13.5643rem;
        top: 0.1353rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.1457rem;
      }
      .item--EEM {
        font-weight: 400;
        white-space: nowrap;
        width: 4.9rem;
        height: 1.9rem;
        position: absolute;
        left: 1.4912rem;
        font-family: Island Moments, 'Source Sans Pro';
        top: 0.971rem;
        font-size: 1.6rem;
        line-height: 1.15;
        color: #000000;
      }
    }
    .item--htd {
      align-items: flex-end;
      width: 12.125rem;
      height: 2.6611rem;
      position: absolute;
      left: 118.2rem;
      top: 6.8rem;
      display: flex;

      .group-1-Dry {
        flex-shrink: 0;
        margin: 0rem 0.425rem 0.57rem 0rem;
        width: 1.1rem;
        height: 2.0915rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .item--wny {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.15;
        color: #ffffff;
        font-family: Island Moments, 'Source Sans Pro';
      }
    }
    .item--Fof {
      font-family: Island Moments, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      position: absolute;
      left: 45.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: #ffffff;
      width: 6.8rem;
      top: 7.8rem;
      line-height: 1.15;
    }
    .item--kEd {
      top: 7.9rem;
      font-size: 1.6rem;
      color: #ffffff;
      font-family: Island Moments, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 1.9rem;
      left: 35.4rem;
      font-weight: 400;
      line-height: 1.15;
      width: 8.7rem;
    }
    .zabzab-qWy {
      position: absolute;
      left: 18.2rem;
      top: 2rem;
      width: 11.4rem;
      height: 7.2247rem;

      .krua-kdw {
        color: #ffffff;
        font-family: Inika, 'Source Sans Pro';
        width: 5.7rem;
        position: absolute;
        left: 4.1682rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        height: 2.7rem;
        top: 4.4852rem;
        white-space: nowrap;
      }
      .item--4ed {
        object-fit: contain;
        vertical-align: top;
        width: 2.4189rem;
        height: 2.7395rem;
        position: absolute;
        left: 0.7682rem;
        top: 4.4852rem;
      }
      .hong-zYH {
        width: 11.4rem;
        position: absolute;
        font-size: 4rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inika, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.3rem;
        left: 0;
        top: 0;
        line-height: 1.3025;
      }
    }
    .footer-vB3 {
      position: absolute;
      left: 0;
      top: 0;
      width: 144rem;
      height: 10.9rem;

      .rectangle-1-Tgm {
        background-color: #010a10;
        width: 144rem;
        height: 10.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .item--Qru {
        font-size: 2.4rem;
        color: #fffbf2;
        font-family: Island Moments, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.15;
        width: 26rem;
        height: 2.8rem;
        position: absolute;
        left: 58.9rem;
        top: 8.1rem;
      }
      .item--t1P {
        left: 95.5rem;
        top: 6.2rem;
        width: 17rem;
        height: 3.3426rem;
        position: absolute;

        .bar-zq7 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 17rem;
          height: 3.3426rem;
        }
        .item--Yrd {
          position: absolute;
          left: 13.5643rem;
          top: 0.1353rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.1457rem;
          height: 3.1197rem;
        }
        .item--UEV {
          left: 1.4912rem;
          top: 0.971rem;
          line-height: 1.15;
          white-space: nowrap;
          font-family: Island Moments, 'Source Sans Pro';
          width: 4.9rem;
          height: 1.9rem;
          position: absolute;
          font-size: 1.6rem;
          font-weight: 400;
          color: #010a10;
        }
      }
      .item--mDb {
        position: absolute;
        left: 114.3rem;
        top: 7.7rem;
        display: flex;
        align-items: flex-start;
        width: 17.716rem;
        height: 3rem;

        .group-1-5k5 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 1.016rem;
          height: 2.0915rem;
          position: relative;
        }
        .item--E7B {
          font-family: Island Moments, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.15;
          color: #fffbf2;
        }
      }
      .item--vkh {
        height: 2.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #fffbf2;
        font-family: Island Moments, 'Source Sans Pro';
        width: 10.1rem;
        position: absolute;
        left: 48rem;
        top: 8.1rem;
        white-space: nowrap;
      }
      .item--RSZ {
        font-weight: 400;
        color: #fffbf2;
        font-family: Island Moments, 'Source Sans Pro';
        width: 13rem;
        height: 2.8rem;
        left: 35.5rem;
        top: 7.9rem;
        font-size: 2.4rem;
        white-space: nowrap;
        position: absolute;
        line-height: 1.15;
      }
      .zabzab-Wyo {
        height: 7.2247rem;
        position: absolute;
        left: 18.2rem;
        top: 2rem;
        width: 11.4rem;

        .krua-eaD {
          font-size: 2rem;
          line-height: 1.3025;
          color: #fffbf2;
          white-space: nowrap;
          height: 2.7rem;
          position: absolute;
          left: 4.1682rem;
          top: 4.4852rem;
          width: 5.7rem;
          font-weight: 400;
          font-family: Inika, 'Source Sans Pro';
        }
        .item--AYZ {
          left: 0.7682rem;
          top: 4.4852rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.4189rem;
          height: 2.7395rem;
          position: absolute;
        }
        .hong-hHb {
          white-space: nowrap;
          left: 0;
          top: 0;
          font-family: Inika, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.3025;
          color: #fffbf2;
          width: 11.4rem;
          height: 5.3rem;
          position: absolute;
        }
      }
      .navi-24y {
        width: 144rem;
        position: absolute;
        left: 0;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding: 2rem 11.984rem 0.6rem 18.2rem;
        background-color: #010a10;
        height: 10.5rem;
        top: 0;

        .zabzab-8Nu {
          margin: 0rem 5.611rem 0.675rem 0rem;
          width: 11.6894rem;
          height: 7.2247rem;
          cursor: pointer;
          position: relative;
          flex-shrink: 0;

          .krua-41f {
            height: 2.7rem;
            left: 4.1682rem;
            font-family: Inika, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.7rem;
            position: absolute;
            top: 4.4852rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.3025;
            color: #fffbf2;
          }
          .item--mRs {
            object-fit: contain;
            vertical-align: top;
            width: 2.4189rem;
            height: 2.7395rem;
            position: absolute;
            left: 0.7682rem;
            top: 4.4852rem;
          }
          .hong-gHw {
            font-weight: 400;
            line-height: 1.3025;
            color: #fffbf2;
            font-family: Inika, 'Source Sans Pro';
            height: 5.3rem;
            left: 0;
            top: 0;
            font-size: 4rem;
            width: 11.4rem;
            position: absolute;
            white-space: nowrap;
          }
        }
        .auto-group-tuwy-QDw {
          position: relative;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 22.6rem;
          height: 2.8rem;

          .item--jn1 {
            font-weight: 400;
            font-family: Island Moments, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.4rem;
            line-height: 1.15;
            color: #fffbf2;
            width: 10.1rem;
            height: 2.8rem;
            position: absolute;
            left: 12.5rem;
            top: 0;
          }
          .item--dMb {
            line-height: 1.15;
            color: #fffbf2;
            font-family: Island Moments, 'Source Sans Pro';
            width: 13rem;
            height: 2.8rem;
            position: absolute;
            left: 0;
            top: 0;
            font-size: 2.4rem;
            font-weight: 400;
            white-space: nowrap;
          }
        }
        .auto-group-wfff-itq {
          height: 4.5rem;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.5045rem;
          width: 52.7955rem;

          .item--sFw {
            width: 26rem;
            position: absolute;
            left: 0;
            font-family: Island Moments, 'Source Sans Pro';
            white-space: nowrap;
            color: #fffbf2;
            height: 2.8rem;
            top: 1.7rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.15;
          }
          .item-1-kad {
            width: 26.8955rem;
            cursor: pointer;
            position: absolute;
            left: 25.9rem;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 0.5rem 1rem 0.5rem 1rem;
            height: 4.1197rem;
            border-radius: 2rem;

            .frame-17-3pd {
              display: flex;
              align-items: flex-end;
              border-radius: 12rem;
              width: 100%;
              height: 100%;

              .item--ooo {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 16.25rem 0.204rem 0rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.15;
                color: rgba(153, 153, 153, 0.6000000238);
                font-family: Island Moments, 'Source Sans Pro';
              }
              .item--iQy {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 3.1457rem;
                height: 3.1197rem;
              }
            }
          }
        }
        .item--cWM {
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 0.0809rem;
          cursor: pointer;
          display: flex;

          .group-1-AGy {
            margin-right: 0.516rem;
            width: 1.4rem;
            height: 2.3915rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--JPB {
            flex-shrink: 0;
            margin-top: 0.4191rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.15;
            color: #fffbf2;
            font-family: Island Moments, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
  }
  .auto-group-jpjf-CjT {
    margin: 0rem 25.5rem 25.3rem 25.5rem;
    width: calc(100% - 51rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .item--Lam {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.3rem 10.9rem 0rem 0rem;
      width: 27.1rem;
      align-items: center;
      display: flex;

      .mkwmgxkf400x400-1-f7F {
        margin-bottom: 2.1rem;
        width: 27.1rem;
        height: 27.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-66-NnM {
        padding: 1.3rem 4.2rem 0rem 4.3rem;
        width: calc(100% - 7rem);
        background-color: #a50113;
        flex-shrink: 0;
        margin: 0 3.5rem;
        box-sizing: border-box;

        .item--6iM {
          max-width: 11.6rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Helvetica, 'Source Sans Pro';
        }
      }
    }
    .item--Nfs {
      box-sizing: border-box;
      padding: 2.4rem;
      width: 55rem;
      height: 19.5rem;
      background-color: #ffffff;
      border-radius: 1.5rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .frame-63-Hnq {
        width: 32.4rem;
        height: 100%;

        .frame-65-Sfj {
          margin-bottom: 0.1rem;
          display: flex;
          align-items: flex-start;

          .item--bHj {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Helvetica, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 1.6rem;
            max-width: 6.8rem;
          }
          .gfish-HwF {
            font-family: Helvetica, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .item--qSy {
            color: #a50113;
            font-family: Helvetica, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 7.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .mail-jHT {
          width: 100%;
          display: flex;
          column-gap: 2.2rem;
          align-items: center;

          .item--H45 {
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Helvetica, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
          .gfishemailcom-bqT {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #111111;
            font-family: Helvetica, 'Source Sans Pro';
          }
          .item--96H {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #a50113;
            font-family: Helvetica, 'Source Sans Pro';
          }
        }
        .auto-group-mha9-Ff7 {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding-top: 2.1rem;
          width: 100%;

          .frame-67-bU5 {
            margin: 0rem 6.2rem 2.05rem 0rem;
            width: calc(100% - 6.2rem);
            height: 2.15rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item--8D7 {
              flex-shrink: 0;
              margin: 0rem 0.7rem 0.05rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #000000;
              font-family: Helvetica, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--qNR {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item--BSH {
                color: #000000;
                font-family: Helvetica, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.05rem 2.1rem 0rem 0rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.2575;
              }
              .item--Vxm {
                margin-bottom: 0.05rem;
                font-size: 1.6rem;
                line-height: 1.2575;
                font-family: Helvetica, 'Source Sans Pro';
                flex-shrink: 0;
                cursor: pointer;
                font-weight: 400;
                color: #a50113;
                white-space: nowrap;
              }
            }
          }
          .item--oTf {
            line-height: 1.2575;
            color: #a50113;
            font-family: Helvetica, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .footer-h3F {
    box-sizing: border-box;
    padding: 4.1rem 20.4rem 6.9rem 101.9rem;
    width: 100%;
    background-color: #010a10;
    flex-shrink: 0;

    .facebook-zabzab-instagram-zabzab-youtube-zabzab-qQM {
      font-family: Island Moments, 'Source Sans Pro';
      max-width: 21.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1499999364;
      color: #fffbf2;

      .facebook-zabzab-instagram-zabzab-youtube-zabzab-qQM-sub-0 {
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2575;
        color: #fffbf2;
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
      }
      .facebook-zabzab-instagram-zabzab-youtube-zabzab-qQM-sub-1 {
        line-height: 1.1825;
        color: #fffbf2;
        font-family: ABeeZee, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
