
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.1rem;
}.recipe-login--vF3 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffbf2;
  box-sizing: border-box;
  padding-bottom: 0.0316rem;
  width: 100%;
  align-items: center;

  .navi-2os {
    margin: 0rem 0rem 6.95rem 0.1rem;
    width: 144rem;
    height: 13.05rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-M5T {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #010a10;
      width: 144rem;
      height: 10.5rem;
    }
    .item--tLH {
      position: absolute;
      left: 112.2rem;
      top: 5.1rem;
      overflow: hidden;
      box-sizing: border-box;
      padding: 1rem 0rem 0rem 1rem;
      width: 15.8rem;
      height: 4.4rem;

      .item--NFT {
        align-items: flex-start;
        margin-bottom: 1.5721rem;
        width: 100%;
        cursor: pointer;
        display: flex;

        .group-1-7D3 {
          width: 1.4rem;
          height: 2.3915rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
        .item--qPw {
          font-weight: 400;
          line-height: 1.15;
          color: #fffbf2;
          font-family: Island Moments, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.4194rem;
          font-size: 2.4rem;
        }
      }
      .frame-59-vgH {
        padding: 1rem 0rem 1rem 1rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        border-radius: 1.5rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;

        .item--FCm {
          line-height: 1.15;
          color: #000000;
          font-family: Island Moments, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          font-size: 2.4rem;
          font-weight: 400;
        }
        .line-5-9ow {
          margin: 0rem 1rem 1.5rem 0rem;
          width: 12.8rem;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .item--5xV {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.15;
          color: #000000;
          font-family: Island Moments, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .frame-32-Zcm {
      height: 5.75rem;
      position: absolute;
      left: 32.3rem;
      top: 7.3rem;
      display: flex;
      align-items: flex-start;
      width: 47.8rem;

      .auto-group-z9pu-tuw {
        position: relative;
        flex-shrink: 0;
        margin-right: 0.8rem;
        width: 22.6rem;
        height: 2.8rem;

        .item--q4V {
          font-family: Island Moments, 'Source Sans Pro';
          height: 2.8rem;
          position: absolute;
          left: 0;
          font-size: 2.4rem;
          color: #fffbf2;
          width: 13rem;
          top: 0;
          font-weight: 400;
          line-height: 1.15;
          white-space: nowrap;
        }
        .item--ity {
          top: 0;
          font-family: Island Moments, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          height: 2.8rem;
          left: 12.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.15;
          color: #fffbf2;
          width: 10.1rem;
        }
      }
      .item--cjT {
        line-height: 1.15;
        color: #ffffff;
        font-family: Island Moments, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.15rem 2.7rem 0rem 0rem;
        max-width: 10.1rem;
        font-size: 2.4rem;
        font-weight: 400;
      }
      .item--tws {
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #fffbf2;
        font-family: Island Moments, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .krua-ccy {
      position: absolute;
      left: 18.2rem;
      top: 2rem;
      width: 11.6894rem;
      height: 7.2247rem;
      cursor: pointer;

      .krua-vdf {
        left: 4.1682rem;
        color: #fffbf2;
        top: 4.4852rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
        width: 5.7rem;
        height: 2.7rem;
        position: absolute;
        white-space: nowrap;
      }
      .item--R4d {
        top: 4.4852rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4189rem;
        height: 2.7395rem;
        position: absolute;
        left: 0.7682rem;
      }
      .hong-wHs {
        width: 11.4rem;
        top: 0;
        font-size: 4rem;
        font-weight: 400;
        color: #fffbf2;
        white-space: nowrap;
        height: 5.3rem;
        position: absolute;
        left: 0;
        line-height: 1.3025;
        font-family: Inika, 'Source Sans Pro';
      }
    }
    .item-0-TGD {
      left: 84.5rem;
      background-color: #ffffff;
      border-radius: 2rem;
      box-sizing: border-box;
      width: 26.8956rem;
      height: 4.1197rem;
      position: absolute;
      padding: 0.5rem 1rem;
      cursor: pointer;
      top: 5.2rem;

      .frame-17-xim {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        border-radius: 12rem;
        box-sizing: border-box;
        padding-right: 0rem;

        .item--hwF {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 16.25rem 0.204rem 0rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.15;
          color: rgba(153, 153, 153, 0.6000000238);
          font-family: Island Moments, 'Source Sans Pro';
        }
        .item--D8u {
          width: 3.1457rem;
          height: 3.1197rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-bt7j-W81 {
    width: calc(100% - 25.8rem);
    height: 26.1rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 9.7rem 2.4rem 16.1rem;

    .image-13-ocu {
      margin-right: 4rem;
      width: 55rem;
      height: 25.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .item--vxR {
      width: 59.3rem;
      height: 100%;
      position: relative;
      background-color: #ffffff;
      border-radius: 1.5rem;
      flex-shrink: 0;

      .f-UDF {
        width: 57.7rem;
        height: 21.2rem;
        position: absolute;
        left: 1.6rem;
        top: 2.4rem;

        .item--1U5 {
          left: 0;
          font-size: 8rem;
          font-weight: 800;
          line-height: 1.2575;
          white-space: nowrap;
          width: 57.7rem;
          height: 10.1rem;
          position: absolute;
          top: 0;
          color: #c70000;
          font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        }
        .item--W9w {
          width: 49.1rem;
          top: 9.2rem;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
          height: 12rem;
          position: absolute;
          left: 0;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
        }
      }
      .group-10-8DF {
        width: 18.3rem;
        height: 2.2rem;
        position: absolute;
        left: 1.6rem;
        top: 21.9rem;
        display: flex;
        align-items: center;

        .item-5--46u {
          margin-right: 0.2rem;
          height: 100%;
          display: flex;
          column-gap: 0.5rem;
          align-items: center;
          flex-shrink: 0;

          .item--BSR {
            width: 2rem;
            height: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--ix9 {
            height: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2rem;
          }
          .item--4m7 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 2rem;
            height: 2.2rem;
          }
          .item--cXj {
            width: 2rem;
            height: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item--x5o {
            width: 2rem;
            height: 2.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .rating-VLd {
          margin-top: 0.1rem;
          font-size: 1.6rem;
          line-height: 1.182000041;
          font-family: ABeeZee, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.6700000167);
          display: flex;
          align-items: baseline;
          flex-shrink: 0;

          .rating-VLd-sub-0 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1825;
            color: rgba(0, 0, 0, 0.6700000167);
            font-family: ABeeZee, 'Source Sans Pro';
          }
          .rating-VLd-sub-1 {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.1825;
            letter-spacing: -0.24rem;
            color: rgba(0, 0, 0, 0.6700000167);
            font-family: ABeeZee, 'Source Sans Pro';
          }
          .rating-VLd-sub-2 {
            line-height: 1.1825;
            color: rgba(0, 0, 0, 0.6700000167);
            font-family: ABeeZee, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .item--oPF {
    box-sizing: border-box;
    padding: 1rem;
    width: calc(100% - 32.1rem);
    height: 22.4rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    flex-shrink: 0;
    margin: 0rem 16rem 3.1rem 16.1rem;

    .item--Jau {
      padding-top: 0.8rem;
      width: 38.1rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      margin-right: 71.9rem;
      box-sizing: border-box;

      .item-120-240-2-2-2-90-60--q53 {
        font-family: ABeeZee, 'Source Sans Pro';
        max-width: 36.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.1820000013;
        color: #010a10;

        .item-120-240-2-2-2-90-60--q53-sub-0 {
          font-weight: 400;
          line-height: 1.1825;
          color: #010a10;
          font-family: ABeeZee, 'Source Sans Pro';
          font-size: 3.2rem;
        }
        .item-120-240-2-2-2-90-60--q53-sub-1 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
        }
        .item-120-240-2-2-2-90-60--q53-sub-2 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
        }
      }
    }
  }
  .frame-20-ueZ {
    flex-shrink: 0;
    margin: 0rem 16rem 3.9rem 16.1rem;
    box-sizing: border-box;
    padding: 1.6rem;
    width: calc(100% - 32.1rem);
    height: 186.2684rem;
    background-color: #ffffff;
    border-radius: 1.5rem;

    .frame-19-Rcu {
      width: 102.5rem;
      height: 100%;

      .item--NY9 {
        font-family: Helvetica Compressed, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.2rem;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #010a10;
      }
      .group-8-5SZ {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;

        .item-1--EKT {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
        }
        .auto-group-y4zw-ety {
          margin-left: 0.1rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-18-B8D {
            margin-right: 12rem;
            width: 45.3rem;
            height: 25.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-20-WwB {
            width: 45.1rem;
            height: 25.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-5-TbX {
        margin-bottom: 2.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .item-2--cjK {
          max-width: 49.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
        .auto-group-jacy-9Ms {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-19-uM3 {
            width: 45.4rem;
            height: 30rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 12rem;
          }
          .image-21-eJd {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 45.1rem;
            height: 30rem;
          }
        }
      }
      .group-6-yrh {
        flex-direction: column;
        margin-bottom: 2.4rem;
        width: 100%;
        display: flex;

        .item-3--XNR {
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          font-size: 1.6rem;
        }
        .auto-group-3hbo-Z4D {
          align-items: center;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .image-19-KJH {
            flex-shrink: 0;
            margin-right: 12rem;
            width: 45.4rem;
            height: 30rem;
            object-fit: cover;
            vertical-align: top;
          }
          .image-21-GDX {
            height: 30rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 45.1rem;
          }
        }
      }
      .group-7-1gu {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2.4rem;

        .item-4--NXT {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-7cjm-kY1 {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .image-19-K5K {
            margin-right: 12rem;
            width: 45.4rem;
            height: 30rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-21-FzZ {
            width: 45.1rem;
            height: 30rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .group-9-1Tw {
        width: 100%;
        display: flex;
        flex-direction: column;

        .item-5-170-25--NZP {
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          max-width: 101.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #010a10;
          font-family: Helvetica, 'Source Sans Pro';
        }
        .auto-group-zhwr-kiM {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-19-ubF {
            margin-right: 12rem;
            width: 45.4rem;
            height: 29.3684rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .image-21-T6y {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 45.1rem;
            height: 29.3684rem;
          }
        }
      }
    }
  }
  .item--BYm {
    margin: 0rem 13.1rem 3.7rem 13.1rem;
    width: calc(100% - 26.2rem);
    height: 57rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-44-gEd {
      border-radius: 1.5rem;
      width: 112rem;
      height: 57rem;
      position: absolute;
      left: 3rem;
      top: 0;
      background-color: #ffffff;
    }
    .item--ce5 {
      font-family: Helvetica Compressed, 'Source Sans Pro';
      white-space: nowrap;
      width: 43.3rem;
      height: 6.1rem;
      left: 6.1rem;
      font-weight: 500;
      line-height: 1.2575;
      position: absolute;
      top: 2.2rem;
      font-size: 4.8rem;
      color: #010a10;
    }
    .milanepplaysionsofuckingbadasfuck-gdw {
      flex-direction: column;
      width: 117.9rem;
      height: 45.2rem;
      position: absolute;
      left: 0;
      top: 9.1rem;
      align-items: center;
      display: flex;

      .auto-group-tmfp-QZw {
        margin-bottom: 2.2rem;
        width: 100%;
        height: 41rem;
        position: relative;
        flex-shrink: 0;

        .item--MEH {
          left: 2.9rem;
          top: 0;
          overflow: hidden;
          width: 112rem;
          height: 41rem;
          position: absolute;

          .group-4-G6M {
            width: 201.6rem;
            height: 100%;
            display: flex;
            align-items: center;

            .auto-group-fcbb-buK {
              margin-right: 2rem;
              width: 55rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .item--YpZ {
                padding: 5.9rem 0rem 0rem 3.1rem;
                width: 26.5rem;
                left: 28.5rem;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                height: 41rem;
                position: absolute;
                top: 0;
                overflow: hidden;
                align-items: center;

                .image-23-db7 {
                  margin: 0rem 3.1rem 0.8rem 0rem;
                  width: 15.7rem;
                  height: 21rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item--k9w {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 6.1rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #010a10;
                  font-family: ABeeZee, 'Source Sans Pro';
                }
                .group-3-SHf {
                  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                  margin: 0rem 4.7rem 0rem 1.7rem;
                  font-size: 1.6rem;
                  line-height: 1.2575;
                  flex-shrink: 0;
                  color: #fffbf2;
                  white-space: nowrap;
                  justify-content: center;
                  height: 4.3rem;
                  font-weight: 800;
                  align-items: center;
                  background-color: #b23a3a;
                  width: calc(100% - 6.4rem);
                  display: flex;
                }
              }
              .item--W2d {
                top: 4.1rem;
                width: 36.9rem;
                height: 36.9rem;
                position: absolute;
                left: 0;

                .auto-group-mssq-crM {
                  margin-bottom: 6.4rem;
                  width: 100%;
                  height: 26.2rem;
                  position: relative;

                  .image-22-NKj {
                    top: 0;
                    object-fit: cover;
                    vertical-align: top;
                    width: 26.5rem;
                    height: 23.9rem;
                    position: absolute;
                    left: 0;
                  }
                  .item--hso {
                    line-height: 1.1825;
                    width: 35.3rem;
                    top: 23.3rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    font-family: ABeeZee, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 2.9rem;
                    position: absolute;
                    left: 1.6rem;
                    color: #010a10;
                  }
                }
                .group-2-ZQD {
                  font-size: 1.6rem;
                  font-weight: 800;
                  color: #fffbf2;
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  background-color: #b23a3a;
                  margin-left: 4.8rem;
                  width: 17rem;
                  height: 4.3rem;
                  line-height: 1.2575;
                  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .item--Syo {
              margin-right: 2rem;
              box-sizing: border-box;
              padding: 12.4rem 0rem 0rem 3.9rem;
              width: 26.5rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-shrink: 0;

              .image-24-9NR {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 3.9rem 1.3rem 0rem;
                width: 13.3rem;
                height: 14.1rem;
              }
              .item--fbf {
                flex-shrink: 0;
                margin-bottom: 6rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.1825;
                color: #010a10;
                font-family: ABeeZee, 'Source Sans Pro';
                white-space: nowrap;
              }
              .group-2-MUV {
                margin-right: 3.8rem;
                height: 4.3rem;
                line-height: 1.2575;
                align-items: center;
                width: 17rem;
                font-weight: 800;
                white-space: nowrap;
                display: flex;
                justify-content: center;
                font-size: 1.6rem;
                color: #fffbf2;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                background-color: #b23a3a;
                flex-shrink: 0;
              }
            }
            .item--3s7 {
              padding: 11.3rem 0rem 0rem 2.7rem;
              width: 26.5rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              align-items: center;

              .image-25-Yos {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 2.6rem 1.5rem 0rem;
                width: 18rem;
                height: 15rem;
                object-fit: cover;
              }
              .item--t73 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.1825;
                color: #010a10;
                font-family: ABeeZee, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 6rem;
              }
              .group-2-y8V {
                white-space: nowrap;
                flex-shrink: 0;
                width: calc(100% - 6.8rem);
                font-weight: 800;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                height: 4.3rem;
                font-size: 1.6rem;
                line-height: 1.2575;
                display: flex;
                margin: 0rem 4.7rem 0rem 2.1rem;
                cursor: pointer;
                color: #fffbf2;
                background-color: #b23a3a;
              }
            }
            .auto-group-yas3-rTB {
              align-items: flex-end;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 7.8rem 0rem 0rem 5.9rem;
              height: 100%;
              display: flex;

              .item--nLq {
                margin-right: 2.7rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .image-24-j1B {
                  height: 18.7rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.3rem 1.4rem;
                  width: 16rem;
                }
                .item--rbb {
                  margin-bottom: 6rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #010a10;
                  font-family: ABeeZee, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .group-2-a1o {
                  color: #fffbf2;
                  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                  height: 4.3rem;
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  margin-left: 0.9rem;
                  font-weight: 800;
                  white-space: nowrap;
                  background-color: #b23a3a;
                  flex-shrink: 0;
                  width: 17rem;
                  font-size: 1.6rem;
                  line-height: 1.2575;
                }
              }
              .item--TrH {
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 6.2rem;
                height: 100%;
                display: flex;

                .image-24-cDP {
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.3rem 0.5rem;
                  width: 16rem;
                  height: 18.7rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .item-2-8Sd {
                  color: #010a10;
                  font-family: ABeeZee, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 0rem 6rem 2.6rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.1825;
                }
                .group-2-q69 {
                  justify-content: center;
                  width: 17rem;
                  color: #fffbf2;
                  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                  display: flex;
                  align-items: center;
                  background-color: #b23a3a;
                  flex-shrink: 0;
                  height: 4.3rem;
                  font-size: 1.6rem;
                  font-weight: 800;
                  line-height: 1.2575;
                  white-space: nowrap;
                }
              }
              .item--7JZ {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                height: 100%;

                .image-24-2RX {
                  width: 16rem;
                  height: 18.7rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.3rem 1.4rem;
                }
                .item--MTo {
                  font-weight: 400;
                  line-height: 1.1825;
                  color: #010a10;
                  font-family: ABeeZee, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 6rem;
                  font-size: 2.4rem;
                }
                .group-2-eSu {
                  width: 17rem;
                  flex-shrink: 0;
                  color: #fffbf2;
                  background-color: #b23a3a;
                  font-size: 1.6rem;
                  line-height: 1.2575;
                  display: flex;
                  justify-content: center;
                  margin-left: 0.9rem;
                  height: 4.3rem;
                  white-space: nowrap;
                  align-items: center;
                  font-weight: 800;
                  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .leftbuttonmilanep-8N5 {
          width: 6rem;
          height: 6rem;
          position: absolute;
          left: 0;
          top: 17.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .leftbuttonmilanep-4mX {
          object-fit: contain;
          vertical-align: top;
          width: 6rem;
          height: 6rem;
          position: absolute;
          left: 111.9rem;
          top: 17.5rem;
        }
      }
      .auto-group-9etq-CMw {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 55.6rem 0rem 55.9rem;
        width: calc(100% - 111.5rem);

        .ellipse-47-8WV {
          margin-right: 2.4rem;
          width: 2rem;
          height: 2rem;
          background-color: #010a10;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .ellipse-48-5Aq {
          width: 2rem;
          height: 2rem;
          cursor: pointer;
          background-color: #cccccc;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-30-CFT {
    background-color: #ffffff;
    border-radius: 1.5rem;
    flex-shrink: 0;
    margin: 0rem 16.1rem 4rem 16.1rem;
    box-sizing: border-box;
    padding: 2.032rem 26.8rem 2.168rem 37.5rem;
    width: calc(100% - 32.2rem);
    height: 12.3rem;

    .frame-31-J3b {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .item--TSH {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #000000;
        font-family: Island Moments, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
      .item-5--uZB {
        height: 5.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 3.75rem;

        .item--2Nu {
          margin-right: 1.3196rem;
          height: 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:321:3624');
          box-sizing: border-box;
          padding: 1.04rem 0.967rem 1.04rem 0.967rem;
          background-size: cover;
          background-repeat: no-repeat;
          flex-shrink: 0;

          .star-1-Ys3 {
            width: 2.9001rem;
            height: 3.12rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item--UVo {
          background-size: cover;
          background-image: url('REPLACE_IMAGE:321:3627');
          flex-shrink: 0;
          margin-right: 1.3041rem;
          padding: 1.04rem 0.967rem 1.04rem 0.967rem;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;

          .star-1-oY5 {
            width: 2.9001rem;
            height: 3.12rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item--Xys {
          padding: 1.04rem 0.967rem 1.04rem 0.967rem;
          background-position: center;
          background-image: url('REPLACE_IMAGE:321:3636');
          box-sizing: border-box;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          flex-shrink: 0;
          margin-right: 1.3042rem;

          .star-1-rmF {
            width: 2.9001rem;
            height: 3.12rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item--ogV {
          height: 100%;
          flex-shrink: 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:321:3633');
          margin-right: 1.3042rem;
          box-sizing: border-box;
          padding: 1.04rem 0.967rem 1.04rem 0.967rem;

          .star-1-8yf {
            width: 2.9001rem;
            height: 3.12rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item--fyb {
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:321:3630');
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.04rem 0.967rem 1.04rem 0.967rem;
          height: 100%;
          background-size: cover;

          .star-1-11s {
            vertical-align: top;
            width: 2.9001rem;
            height: 3.12rem;
            object-fit: contain;
          }
        }
      }
    }
  }
  .frame-25-jCm {
    margin: 0rem 14.7rem 16rem 16rem;
    box-sizing: border-box;
    padding: 1rem 0rem 1.5rem 1.8rem;
    display: flex;
    flex-shrink: 0;
    width: calc(100% - 30.7rem);
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.5rem;

    .frame-24-dow {
      margin-bottom: 2.4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item--zeV {
        font-family: Island Moments, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #000000;
      }
      .frame-23-uWZ {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 4.8rem;
        display: flex;
        column-gap: 0.8rem;

        .rectangle-45-SmP {
          width: 4.8rem;
          height: 4.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 18rem;
          flex-shrink: 0;
        }
        .frame-21-BU5 {
          font-size: 2.4rem;
          color: rgba(153, 153, 153, 0.6000000238);
          border-radius: 1.5rem;
          padding: 1rem;
          white-space: nowrap;
          background-color: #ffffff;
          height: 100%;
          font-weight: 400;
          border: solid 0.1rem #000000;
          font-family: Island Moments, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          width: 84rem;
          line-height: 1.15;
        }
        .frame-22-4Gy {
          flex-shrink: 0;
          padding: 1rem 0rem 1rem 1rem;
          color: #ffffff;
          border: solid 0.1rem #000000;
          background-color: #a50113;
          border-radius: 1.5rem;
          font-family: Island Moments, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.15;
        }
      }
    }
    .line-4-9ZK {
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 0rem 4.681rem 0rem;
      width: 109.4993rem;
    }
    .frame-28-gJM {
      margin: 0rem 0rem 4.4rem 2rem;
      width: 79.4rem;
      flex-shrink: 0;

      .auto-group-xrmw-cho {
        width: calc(100% - 64.3rem);
        display: flex;
        align-items: flex-end;
        margin: 0rem 64.3rem 1.5rem 0rem;

        .rectangle-45-9Sq {
          vertical-align: top;
          border-radius: 18rem;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 4.8rem;
          height: 4.8rem;
          object-fit: cover;
        }
        .auto-group-m1uj-Wwb {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--f3o {
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.15;
            color: #000000;
            font-family: Island Moments, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-5--vkR {
            column-gap: 0.3686rem;
            align-items: center;
            flex-shrink: 0;
            display: flex;

            .item--EWD {
              flex-shrink: 0;
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item--mm3 {
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--7pu {
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--sJH {
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--cmf {
              flex-shrink: 0;
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .item--x4q {
        margin-left: 5.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #000000;
        font-family: Island Moments, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-29-Mcm {
      flex-shrink: 0;
      margin: 0rem 5rem 0rem 2rem;
      width: calc(100% - 7rem);
      display: flex;
      flex-direction: column;

      .auto-group-ll4q-HWR {
        margin: 0rem 89.955rem 1.519rem 0rem;
        width: calc(100% - 89.9549rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rectangle-45-1xD {
          width: 4.8rem;
          height: 4.8rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 18rem;
          flex-shrink: 0;
          margin-right: 1rem;
        }
        .auto-group-b641-9oX {
          width: 8.8451rem;
          flex-shrink: 0;

          .item--JgR {
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.15;
            color: #000000;
            font-family: Island Moments, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-5--dCu {
            width: 100%;
            display: flex;
            column-gap: 0.3686rem;
            align-items: center;

            .item--y1s {
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--uRK {
              flex-shrink: 0;
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item--edo {
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--yvy {
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--8Yy {
              flex-shrink: 0;
              width: 1.4742rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .item--foo {
        margin-left: 5.8rem;
        max-width: 98.8rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.15;
        color: #000000;
        font-family: Island Moments, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
  .footer-ivV {
    box-sizing: border-box;
    padding: 4.1rem 20.4rem 6.9rem 101.9rem;
    background-color: #010a10;
    flex-shrink: 0;
    margin-right: 0.1rem;

    .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.1499999364;
      color: #fffbf2;
      font-family: Island Moments, 'Source Sans Pro';
      max-width: 21.7rem;

      .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd-sub-0 {
        font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2575;
        color: #fffbf2;
      }
      .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd-sub-1 {
        color: #fffbf2;
        font-family: ABeeZee, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.1825;
      }
    }
  }
}
