
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.8rem;
}.item--pqX {
  box-sizing: border-box;
  padding: 1.8rem 1.5rem 3.408rem 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.item--pqX .property-1default-5mT {
  margin: 0rem 0.5rem 13.9rem 0rem;
  box-sizing: border-box;
  padding: 1rem 0rem 0rem 1rem;
  width: 16.8rem;
  height: 4.6rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .item--NEm {
  margin-bottom: 1.5721rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .item--NEm .group-1-tyo {
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 2.3915rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .item--NEm .item--E25 {
  margin-top: 0.4194rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .frame-59-KJR {
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  width: 14.8rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .frame-59-KJR .item--qGm {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .frame-59-KJR .line-5-XvH {
  margin: 0rem 1rem 1.5rem 0rem;
  width: 12.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.item--pqX .property-1default-5mT .frame-59-KJR .item--rhf {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .item--s6y {
  margin-bottom: 1.5721rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .item--s6y .group-1-bof {
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 2.3915rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .item--s6y .item--YD7 {
  margin-top: 0.4194rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .frame-59-ELq {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  width: 16.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .frame-59-ELq .frame-57-xGq {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .frame-59-ELq .line-5-rd7 {
  margin: 0rem 3.1rem 1.5rem 0rem;
  width: 12.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.item--pqX .property-1variant2-wDK .frame-59-ELq .item--zDX {
  margin-right: 1.4rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
