
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--6ss {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;
}
.item--6ss .navi-1E9 {
  width: 100%;
  height: 10.5rem;
  position: relative;
  background-color: #010a10;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .frame-17-XyB {
  width: 15.1956rem;
  height: 3.1197rem;
  position: absolute;
  left: 99.4912rem;
  top: 6.2353rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12rem;
}
.item--6ss .navi-1E9 .frame-17-XyB .item--eH7 {
  margin: 0.412rem 7.15rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .frame-17-XyB .item--X61 {
  width: 3.1457rem;
  height: 3.1197rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .item--RBP {
  width: 12.125rem;
  height: 2.6611rem;
  position: absolute;
  left: 118.2rem;
  top: 6.8rem;
  display: flex;
  align-items: flex-end;
}
.item--6ss .navi-1E9 .item--RBP .group-1-L3T {
  margin: 0rem 0.425rem 0.57rem 0rem;
  width: 1.1rem;
  height: 2.0915rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .item--RBP .item--qku {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .item--YfK {
  width: 6.8rem;
  height: 1.9rem;
  position: absolute;
  left: 45.2rem;
  top: 7.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .item--EY9 {
  width: 8.7rem;
  height: 1.9rem;
  position: absolute;
  left: 35.4rem;
  top: 7.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .zabzab-vQy {
  width: 11.4rem;
  height: 7.2247rem;
  position: absolute;
  left: 18.2rem;
  top: 2rem;
}
.item--6ss .navi-1E9 .zabzab-vQy .krua-Tfo {
  width: 5.7rem;
  height: 2.7rem;
  position: absolute;
  left: 4.1682rem;
  top: 4.4852rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .zabzab-vQy .item--Nnm {
  width: 2.419rem;
  height: 2.7395rem;
  position: absolute;
  left: 0.7682rem;
  top: 4.4852rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6ss .navi-1E9 .zabzab-vQy .hong-VMb {
  width: 11.4rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .rectangle-1-153 {
  width: 144rem;
  height: 10.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #010a10;
}
.item--6ss .navi-1E9 .item--wzH {
  width: 26rem;
  height: 2.8rem;
  position: absolute;
  left: 58.9rem;
  top: 7.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .item--Dgu {
  width: 20.4901rem;
  height: 3.2191rem;
  cursor: pointer;
  position: absolute;
  left: 115.7955rem;
  top: 6.6rem;
  display: flex;
  align-items: flex-start;
}
.item--6ss .navi-1E9 .item--Dgu .group-1-wcu {
  margin-right: 0.4552rem;
  width: 1.2349rem;
  height: 2.3915rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .item--Dgu .item--sWZ {
  margin-top: 0.4191rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .item--NiD {
  width: 10.1rem;
  height: 2.8rem;
  position: absolute;
  left: 48rem;
  top: 7.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .item--H4V {
  width: 13rem;
  height: 2.8rem;
  position: absolute;
  left: 35.5rem;
  top: 7.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .zabzab-mkM {
  width: 11.6894rem;
  height: 7.2247rem;
  cursor: pointer;
  position: absolute;
  left: 18.2rem;
  top: 2rem;
}
.item--6ss .navi-1E9 .zabzab-mkM .krua-73X {
  width: 5.7rem;
  height: 2.7rem;
  position: absolute;
  left: 4.1682rem;
  top: 4.4852rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .zabzab-mkM .item--DsF {
  width: 2.419rem;
  height: 2.7395rem;
  position: absolute;
  left: 0.7682rem;
  top: 4.4852rem;
  object-fit: contain;
  vertical-align: top;
}
.item--6ss .navi-1E9 .zabzab-mkM .hong-9W1 {
  width: 11.4rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .navi-1E9 .item-1-sgu {
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 26.8955rem;
  height: 4.1197rem;
  cursor: pointer;
  position: absolute;
  left: 86.5rem;
  top: 5.3rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.item--6ss .navi-1E9 .item-1-sgu .frame-17-Ag1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 12rem;
}
.item--6ss .navi-1E9 .item-1-sgu .frame-17-Ag1 .item--XWZ {
  margin: 0rem 16.25rem 0.204rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(153, 153, 153, 0.6000000238);
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6ss .navi-1E9 .item-1-sgu .frame-17-Ag1 .item--dpV {
  width: 3.1457rem;
  height: 3.1197rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 {
  box-sizing: border-box;
  padding: 9.5rem 16rem 11.5rem 16rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 43.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-14-o6h {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 4rem 4.8rem 3.9rem 4.7rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-14-o6h .image-25-8em {
  width: 45.5rem;
  height: 35.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND {
  width: 55rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .rectangle-43-zws {
  width: 54.8rem;
  height: 43.1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .item-454--Xwo {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.1796875;
  color: #000000;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .item-454--Xwo .item-454--Xwo-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .item-454--Xwo .item-454--Xwo-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #999999;
  font-family: Helvetica, 'Source Sans Pro';
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts {
  width: 43.9rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 11.3rem;
  display: flex;
  align-items: center;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 2.4rem 0rem 2.4rem 1.5rem;
  width: 26.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .auto-group-wmr3-Jt1 {
  margin-bottom: 3.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .auto-group-wmr3-Jt1 .image-26-ews {
  margin: 0rem 3.1rem 3.2rem 0rem;
  width: 5.5rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .auto-group-wmr3-Jt1 .image-27-AvD {
  width: 17rem;
  height: 5.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .auto-group-p7e1-Wz5 {
  margin: 0rem 11.6rem 3rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .auto-group-p7e1-Wz5 .item-23500-fMB {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .auto-group-p7e1-Wz5 .item-23000-z8Z {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-9-oRT .frame-10-KwX {
  margin: 4.1rem 0rem 8.9rem 0rem;
  width: 14.9rem;
  height: calc(100% - 13rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf {
  box-sizing: border-box;
  padding: 2.8rem 0rem 5.6rem 0rem;
  width: 14.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf .group-2-zGy {
  margin-bottom: 4.9rem;
  width: 15.2rem;
  height: 4.5rem;
  position: relative;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf .group-2-zGy .rectangle-41-jVT {
  width: 14.9rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b23a3a;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf .group-2-zGy .item--H1B {
  width: 11.6rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 1.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf .group-2-bRB {
  width: 15.2rem;
  height: 4.5rem;
  position: relative;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf .group-2-bRB .rectangle-41-M9T {
  width: 14.9rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b23a3a;
}
.item--6ss .auto-group-ilst-un1 .auto-group-f75b-3tD .frame-15-eND .frame-13-4Ts .frame-12-rRf .group-2-bRB .item--tv5 {
  width: 11.6rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 1.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
}
.item--6ss .auto-group-ilst-un1 .frame-16-YUq {
  box-sizing: border-box;
  padding: 2.4rem 2.1rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.item--6ss .auto-group-ilst-un1 .frame-16-YUq .item--HBX {
  max-width: 86.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.182000041;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
}
.item--6ss .auto-group-ilst-un1 .frame-16-YUq .item--HBX .item--HBX-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.item--6ss .auto-group-ilst-un1 .frame-16-YUq .item--HBX .item--HBX-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.item--6ss .auto-group-ilst-un1 .frame-16-YUq .item--HBX .item--HBX-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.item--6ss .footer-9B7 {
  box-sizing: border-box;
  padding: 4.1rem 20.4rem 6.9rem 101.9rem;
  width: 100%;
  background-color: #010a10;
  flex-shrink: 0;
}
.item--6ss .footer-9B7 .facebook-hong-krua-instagram-hongkrua-youtube-hongkrua-scu {
  max-width: 21.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1499999364;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
}
.item--6ss .footer-9B7 .facebook-hong-krua-instagram-hongkrua-youtube-hongkrua-scu .facebook-hong-krua-instagram-hongkrua-youtube-hongkrua-scu-sub-0 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
}
.item--6ss .footer-9B7 .facebook-hong-krua-instagram-hongkrua-youtube-hongkrua-scu .facebook-hong-krua-instagram-hongkrua-youtube-hongkrua-scu-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #fffbf2;
  font-family: ABeeZee, 'Source Sans Pro';
}
