
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 197.5rem;
}.group-4-SSV {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-4-SSV .auto-group-bxqz-grd {
  margin-right: 2rem;
  width: 55rem;
  height: 41rem;
  position: relative;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-bxqz-grd .item--MLV {
  box-sizing: border-box;
  padding: 5.9rem 0rem 0rem 3.1rem;
  width: 26.5rem;
  height: 41rem;
  position: absolute;
  left: 28.5rem;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.group-4-SSV .auto-group-bxqz-grd .item--MLV .image-23-Aoj {
  margin: 0rem 3.1rem 0.8rem 0rem;
  width: 15.7rem;
  height: 21rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-bxqz-grd .item--MLV .item--sTF {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-bxqz-grd .item--MLV .group-3-ueq {
  margin: 0rem 4.7rem 0rem 1.7rem;
  width: calc(100% - 6.4rem);
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-bxqz-grd .item--YC1 {
  width: 36.9rem;
  height: 36.9rem;
  position: absolute;
  left: 0;
  top: 4.1rem;
}
.group-4-SSV .auto-group-bxqz-grd .item--YC1 .auto-group-jbo7-TZs {
  margin-bottom: 6.4rem;
  width: 100%;
  height: 26.2rem;
  position: relative;
}
.group-4-SSV .auto-group-bxqz-grd .item--YC1 .auto-group-jbo7-TZs .image-22-ns3 {
  width: 26.5rem;
  height: 23.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.group-4-SSV .auto-group-bxqz-grd .item--YC1 .auto-group-jbo7-TZs .item--vTT {
  width: 35.3rem;
  height: 2.9rem;
  position: absolute;
  left: 1.6rem;
  top: 23.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}
.group-4-SSV .auto-group-bxqz-grd .item--YC1 .group-2-Yjj {
  margin-left: 4.8rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
}
.group-4-SSV .item--qTw {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 12.4rem 0rem 0rem 3.9rem;
  width: 26.5rem;
  height: 41rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-4-SSV .item--qTw .image-24-KP7 {
  margin: 0rem 3.9rem 1.3rem 0rem;
  width: 13.3rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-4-SSV .item--qTw .item--2oK {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-4-SSV .item--qTw .group-2-7pm {
  margin-right: 3.8rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.group-4-SSV .item--R4m {
  box-sizing: border-box;
  padding: 11.3rem 0rem 0rem 2.7rem;
  width: 26.5rem;
  height: 41rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-4-SSV .item--R4m .image-25-KA9 {
  margin: 0rem 2.6rem 1.5rem 0rem;
  width: 18rem;
  height: 15rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-4-SSV .item--R4m .item--SEm {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-4-SSV .item--R4m .group-2-ixy {
  margin: 0rem 4.7rem 0rem 2.1rem;
  width: calc(100% - 6.8rem);
  height: 4.3rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ {
  box-sizing: border-box;
  padding: 7.8rem 0rem 0rem 5.9rem;
  width: 85.5rem;
  height: 41rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--JgH {
  margin-right: 2.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--JgH .image-24-SGh {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 16rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--JgH .item--koB {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--JgH .group-2-Svu {
  margin-left: 0.9rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--w6y {
  margin-right: 6.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--w6y .image-24-gKT {
  margin: 0rem 0rem 1.3rem 0.5rem;
  width: 16rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--w6y .item-2-avd {
  margin: 0rem 0rem 6rem 2.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--w6y .group-2-sPw {
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--mkD {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--mkD .image-24-u5j {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 16rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--mkD .item--2AM {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.group-4-SSV .auto-group-y5tv-BrZ .item--mkD .group-2-KQM {
  margin-left: 0.9rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
