
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-pFT {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;
}
.login-pFT .navi-vZP {
  width: 100%;
  height: 13.05rem;
  position: relative;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .rectangle-1-GNM {
  width: 144rem;
  height: 10.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #010a10;
}
.login-pFT .navi-vZP .item--XJH {
  box-sizing: border-box;
  padding: 1rem 0rem 0rem 1rem;
  width: 15.8rem;
  height: 4.4rem;
  position: absolute;
  left: 112.2rem;
  top: 5.1rem;
  overflow: hidden;
}
.login-pFT .navi-vZP .item--XJH .item--nV7 {
  margin-bottom: 1.5721rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
.login-pFT .navi-vZP .item--XJH .item--nV7 .group-1-i7s {
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 2.3915rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .item--XJH .item--nV7 .item--3fw {
  margin-top: 0.4194rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .item--XJH .frame-59-Y6u {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.login-pFT .navi-vZP .item--XJH .frame-59-Y6u .item--Tjf {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .item--XJH .frame-59-Y6u .line-5-a3b {
  margin: 0rem 1rem 1.5rem 0rem;
  width: 12.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .item--XJH .frame-59-Y6u .item--gsK {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .frame-32-m85 {
  width: 47.8rem;
  height: 5.75rem;
  position: absolute;
  left: 32.3rem;
  top: 7.3rem;
  display: flex;
  align-items: flex-start;
}
.login-pFT .navi-vZP .frame-32-m85 .auto-group-byyw-VZs {
  margin-right: 0.8rem;
  width: 22.6rem;
  height: 2.8rem;
  position: relative;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .frame-32-m85 .auto-group-byyw-VZs .item--Dkm {
  width: 13rem;
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.login-pFT .navi-vZP .frame-32-m85 .auto-group-byyw-VZs .item--K37 {
  width: 10.1rem;
  height: 2.8rem;
  position: absolute;
  left: 12.5rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.login-pFT .navi-vZP .frame-32-m85 .item--QaM {
  margin: 0.15rem 2.7rem 0rem 0rem;
  max-width: 10.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Island Moments, 'Source Sans Pro';
  flex-shrink: 0;
}
.login-pFT .navi-vZP .frame-32-m85 .item--Vrh {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .krua-cAd {
  width: 11.6894rem;
  height: 7.2247rem;
  cursor: pointer;
  position: absolute;
  left: 18.2rem;
  top: 2rem;
}
.login-pFT .navi-vZP .krua-cAd .krua-LsK {
  width: 5.7rem;
  height: 2.7rem;
  position: absolute;
  left: 4.1682rem;
  top: 4.4852rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.login-pFT .navi-vZP .krua-cAd .item--fPo {
  width: 2.4189rem;
  height: 2.7395rem;
  position: absolute;
  left: 0.7682rem;
  top: 4.4852rem;
  object-fit: contain;
  vertical-align: top;
}
.login-pFT .navi-vZP .krua-cAd .hong-nUR {
  width: 11.4rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.login-pFT .navi-vZP .item-0-u3F {
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 26.8955rem;
  height: 4.1197rem;
  cursor: pointer;
  position: absolute;
  left: 84.5rem;
  top: 5.2rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.login-pFT .navi-vZP .item-0-u3F .frame-17-Pz1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 12rem;
}
.login-pFT .navi-vZP .item-0-u3F .frame-17-Pz1 .item--LPT {
  margin: 0rem 16.25rem 0.204rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(153, 153, 153, 0.6000000238);
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .navi-vZP .item-0-u3F .frame-17-Pz1 .item--nmF {
  width: 3.1457rem;
  height: 3.1197rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb {
  box-sizing: border-box;
  padding: 6.95rem 16rem 11.5rem 16rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 43.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-14-q7F {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 4rem 4.8rem 3.9rem 4.7rem;
  height: 100%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-14-q7F .image-25-ZJ9 {
  width: 45.5rem;
  height: 35.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b {
  width: 55rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .rectangle-43-d37 {
  width: 54.8rem;
  height: 43.1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .item-454--Yvm {
  width: 30.9rem;
  height: 6.1rem;
  position: absolute;
  left: 2.4rem;
  top: 2.4rem;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.1796875;
  color: #000000;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .item-454--Yvm .item-454--Yvm-sub-0 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .item-454--Yvm .item-454--Yvm-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #999999;
  font-family: Helvetica, 'Source Sans Pro';
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 {
  width: 43.9rem;
  height: 22.3rem;
  position: absolute;
  left: 0;
  top: 11.3rem;
  display: flex;
  align-items: center;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 2.4rem 0rem 2.4rem 1.5rem;
  width: 26.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .auto-group-lqos-GnD {
  margin-bottom: 3.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .auto-group-lqos-GnD .image-26-DSZ {
  margin: 0rem 3.1rem 3.2rem 0rem;
  width: 5.5rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .auto-group-lqos-GnD .image-27-LXB {
  width: 17rem;
  height: 5.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .auto-group-4mz1-UNV {
  margin: 0rem 11.6rem 3rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .auto-group-4mz1-UNV .item-23500-DL5 {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .auto-group-4mz1-UNV .item-23000-kL1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-9-AUH .frame-10-V2h {
  margin: 4.1rem 0rem 8.9rem 0rem;
  width: 14.9rem;
  height: calc(100% - 13rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y {
  box-sizing: border-box;
  padding: 2.8rem 0rem 5.6rem 0rem;
  width: 14.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y .group-2-LZ7 {
  margin-bottom: 4.9rem;
  width: 15.2rem;
  height: 4.5rem;
  position: relative;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y .group-2-LZ7 .rectangle-41-tKj {
  width: 14.9rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b23a3a;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y .group-2-LZ7 .item--2wj {
  width: 11.6rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 1.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y .group-2-VqK {
  width: 15.2rem;
  height: 4.5rem;
  position: relative;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y .group-2-VqK .rectangle-41-eiD {
  width: 14.9rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #b23a3a;
}
.login-pFT .auto-group-nbcm-2fb .auto-group-c9d3-uDb .frame-15-51b .frame-13-2N5 .frame-12-p4y .group-2-VqK .item--Cjj {
  width: 11.6rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 1.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
}
.login-pFT .auto-group-nbcm-2fb .frame-16-say {
  box-sizing: border-box;
  padding: 2.4rem 2.1rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.login-pFT .auto-group-nbcm-2fb .frame-16-say .item--DPw {
  max-width: 86.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.182000041;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
}
.login-pFT .auto-group-nbcm-2fb .frame-16-say .item--DPw .item--DPw-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.login-pFT .auto-group-nbcm-2fb .frame-16-say .item--DPw .item--DPw-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.login-pFT .auto-group-nbcm-2fb .frame-16-say .item--DPw .item--DPw-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Helvetica, 'Source Sans Pro';
}
.login-pFT .footer-LaM {
  box-sizing: border-box;
  padding: 4.1rem 20.4rem 6.9rem 101.9rem;
  width: 100%;
  background-color: #010a10;
  flex-shrink: 0;
}
.login-pFT .footer-LaM .facebook-zabzab-instagram-zabzab-youtube-zabzab-529 {
  max-width: 21.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1499999364;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
}
.login-pFT .footer-LaM .facebook-zabzab-instagram-zabzab-youtube-zabzab-529 .facebook-zabzab-instagram-zabzab-youtube-zabzab-529-sub-0 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
}
.login-pFT .footer-LaM .facebook-zabzab-instagram-zabzab-youtube-zabzab-529 .facebook-zabzab-instagram-zabzab-youtube-zabzab-529-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #fffbf2;
  font-family: ABeeZee, 'Source Sans Pro';
}
