
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.1rem;
}.recipe-login--vF3 {
  box-sizing: border-box;
  padding-bottom: 0.0316rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fffbf2;
}
.recipe-login--vF3 .navi-2os {
  margin: 0rem 0rem 6.95rem 0.1rem;
  width: 144rem;
  height: 13.05rem;
  position: relative;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .rectangle-1-M5T {
  width: 144rem;
  height: 10.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #010a10;
}
.recipe-login--vF3 .navi-2os .item--tLH {
  box-sizing: border-box;
  padding: 1rem 0rem 0rem 1rem;
  width: 15.8rem;
  height: 4.4rem;
  position: absolute;
  left: 112.2rem;
  top: 5.1rem;
  overflow: hidden;
}
.recipe-login--vF3 .navi-2os .item--tLH .item--NFT {
  margin-bottom: 1.5721rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
.recipe-login--vF3 .navi-2os .item--tLH .item--NFT .group-1-7D3 {
  margin-right: 0.5rem;
  width: 1.4rem;
  height: 2.3915rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .item--tLH .item--NFT .item--qPw {
  margin-top: 0.4194rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .item--tLH .frame-59-vgH {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.recipe-login--vF3 .navi-2os .item--tLH .frame-59-vgH .item--FCm {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .item--tLH .frame-59-vgH .line-5-9ow {
  margin: 0rem 1rem 1.5rem 0rem;
  width: 12.8rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .item--tLH .frame-59-vgH .item--5xV {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .frame-32-Zcm {
  width: 47.8rem;
  height: 5.75rem;
  position: absolute;
  left: 32.3rem;
  top: 7.3rem;
  display: flex;
  align-items: flex-start;
}
.recipe-login--vF3 .navi-2os .frame-32-Zcm .auto-group-z9pu-tuw {
  margin-right: 0.8rem;
  width: 22.6rem;
  height: 2.8rem;
  position: relative;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .frame-32-Zcm .auto-group-z9pu-tuw .item--q4V {
  width: 13rem;
  height: 2.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .navi-2os .frame-32-Zcm .auto-group-z9pu-tuw .item--ity {
  width: 10.1rem;
  height: 2.8rem;
  position: absolute;
  left: 12.5rem;
  top: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .navi-2os .frame-32-Zcm .item--cjT {
  margin: 0.15rem 2.7rem 0rem 0rem;
  max-width: 10.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Island Moments, 'Source Sans Pro';
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .frame-32-Zcm .item--tws {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .krua-ccy {
  width: 11.6894rem;
  height: 7.2247rem;
  cursor: pointer;
  position: absolute;
  left: 18.2rem;
  top: 2rem;
}
.recipe-login--vF3 .navi-2os .krua-ccy .krua-vdf {
  width: 5.7rem;
  height: 2.7rem;
  position: absolute;
  left: 4.1682rem;
  top: 4.4852rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .navi-2os .krua-ccy .item--R4d {
  width: 2.4189rem;
  height: 2.7395rem;
  position: absolute;
  left: 0.7682rem;
  top: 4.4852rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .navi-2os .krua-ccy .hong-wHs {
  width: 11.4rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffbf2;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .navi-2os .item-0-TGD {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  width: 26.8956rem;
  height: 4.1197rem;
  cursor: pointer;
  position: absolute;
  left: 84.5rem;
  top: 5.2rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.recipe-login--vF3 .navi-2os .item-0-TGD .frame-17-xim {
  box-sizing: border-box;
  padding-right: 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 12rem;
}
.recipe-login--vF3 .navi-2os .item-0-TGD .frame-17-xim .item--hwF {
  margin: 0rem 16.25rem 0.204rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(153, 153, 153, 0.6000000238);
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .navi-2os .item-0-TGD .frame-17-xim .item--D8u {
  width: 3.1457rem;
  height: 3.1197rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 {
  margin: 0rem 9.7rem 2.4rem 16.1rem;
  width: calc(100% - 25.8rem);
  height: 26.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .image-13-ocu {
  margin-right: 4rem;
  width: 55rem;
  height: 25.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR {
  width: 59.3rem;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .f-UDF {
  width: 57.7rem;
  height: 21.2rem;
  position: absolute;
  left: 1.6rem;
  top: 2.4rem;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .f-UDF .item--1U5 {
  width: 57.7rem;
  height: 10.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #c70000;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .f-UDF .item--W9w {
  width: 49.1rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 9.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF {
  width: 18.3rem;
  height: 2.2rem;
  position: absolute;
  left: 1.6rem;
  top: 21.9rem;
  display: flex;
  align-items: center;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .item-5--46u {
  margin-right: 0.2rem;
  height: 100%;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .item-5--46u .item--BSR {
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .item-5--46u .item--ix9 {
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .item-5--46u .item--4m7 {
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .item-5--46u .item--cXj {
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .item-5--46u .item--x5o {
  width: 2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .rating-VLd {
  margin-top: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.182000041;
  color: rgba(0, 0, 0, 0.6700000167);
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .rating-VLd .rating-VLd-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: rgba(0, 0, 0, 0.6700000167);
  font-family: ABeeZee, 'Source Sans Pro';
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .rating-VLd .rating-VLd-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  letter-spacing: -0.24rem;
  color: rgba(0, 0, 0, 0.6700000167);
  font-family: ABeeZee, 'Source Sans Pro';
}
.recipe-login--vF3 .auto-group-bt7j-W81 .item--vxR .group-10-8DF .rating-VLd .rating-VLd-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: rgba(0, 0, 0, 0.6700000167);
  font-family: ABeeZee, 'Source Sans Pro';
}
.recipe-login--vF3 .item--oPF {
  margin: 0rem 16rem 3.1rem 16.1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: calc(100% - 32.1rem);
  height: 22.4rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--oPF .item--Jau {
  margin-right: 71.9rem;
  box-sizing: border-box;
  padding-top: 0.8rem;
  width: 38.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.recipe-login--vF3 .item--oPF .item--Jau .item-120-240-2-2-2-90-60--q53 {
  max-width: 36.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1820000013;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
}
.recipe-login--vF3 .item--oPF .item--Jau .item-120-240-2-2-2-90-60--q53 .item-120-240-2-2-2-90-60--q53-sub-0 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
}
.recipe-login--vF3 .item--oPF .item--Jau .item-120-240-2-2-2-90-60--q53 .item-120-240-2-2-2-90-60--q53-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
}
.recipe-login--vF3 .item--oPF .item--Jau .item-120-240-2-2-2-90-60--q53 .item-120-240-2-2-2-90-60--q53-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
}
.recipe-login--vF3 .frame-20-ueZ {
  margin: 0rem 16rem 3.9rem 16.1rem;
  box-sizing: border-box;
  padding: 1.6rem;
  width: calc(100% - 32.1rem);
  height: 186.2684rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu {
  width: 102.5rem;
  height: 100%;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .item--NY9 {
  margin-bottom: 2.2rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica Compressed, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-8-5SZ {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-8-5SZ .item-1--EKT {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-8-5SZ .auto-group-y4zw-ety {
  margin-left: 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-8-5SZ .auto-group-y4zw-ety .image-18-B8D {
  margin-right: 12rem;
  width: 45.3rem;
  height: 25.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-8-5SZ .auto-group-y4zw-ety .image-20-WwB {
  width: 45.1rem;
  height: 25.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-5-TbX {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-5-TbX .item-2--cjK {
  margin-bottom: 0.2rem;
  max-width: 49.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-5-TbX .auto-group-jacy-9Ms {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-5-TbX .auto-group-jacy-9Ms .image-19-uM3 {
  margin-right: 12rem;
  width: 45.4rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-5-TbX .auto-group-jacy-9Ms .image-21-eJd {
  width: 45.1rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-6-yrh {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-6-yrh .item-3--XNR {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-6-yrh .auto-group-3hbo-Z4D {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-6-yrh .auto-group-3hbo-Z4D .image-19-KJH {
  margin-right: 12rem;
  width: 45.4rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-6-yrh .auto-group-3hbo-Z4D .image-21-GDX {
  width: 45.1rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-7-1gu {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-7-1gu .item-4--NXT {
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-7-1gu .auto-group-7cjm-kY1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-7-1gu .auto-group-7cjm-kY1 .image-19-K5K {
  margin-right: 12rem;
  width: 45.4rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-7-1gu .auto-group-7cjm-kY1 .image-21-FzZ {
  width: 45.1rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-9-1Tw {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-9-1Tw .item-5-170-25--NZP {
  margin-bottom: 0.8rem;
  max-width: 101.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica, 'Source Sans Pro';
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-9-1Tw .auto-group-zhwr-kiM {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-9-1Tw .auto-group-zhwr-kiM .image-19-ubF {
  margin-right: 12rem;
  width: 45.4rem;
  height: 29.3684rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-20-ueZ .frame-19-Rcu .group-9-1Tw .auto-group-zhwr-kiM .image-21-T6y {
  width: 45.1rem;
  height: 29.3684rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm {
  margin: 0rem 13.1rem 3.7rem 13.1rem;
  width: calc(100% - 26.2rem);
  height: 57rem;
  position: relative;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .rectangle-44-gEd {
  width: 112rem;
  height: 57rem;
  position: absolute;
  left: 3rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.recipe-login--vF3 .item--BYm .item--ce5 {
  width: 43.3rem;
  height: 6.1rem;
  position: absolute;
  left: 6.1rem;
  top: 2.2rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #010a10;
  font-family: Helvetica Compressed, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw {
  width: 117.9rem;
  height: 45.2rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 41rem;
  position: relative;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH {
  width: 112rem;
  height: 41rem;
  position: absolute;
  left: 2.9rem;
  top: 0;
  overflow: hidden;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M {
  width: 201.6rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK {
  margin-right: 2rem;
  width: 55rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--YpZ {
  box-sizing: border-box;
  padding: 5.9rem 0rem 0rem 3.1rem;
  width: 26.5rem;
  height: 41rem;
  position: absolute;
  left: 28.5rem;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--YpZ .image-23-db7 {
  margin: 0rem 3.1rem 0.8rem 0rem;
  width: 15.7rem;
  height: 21rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--YpZ .item--k9w {
  margin-bottom: 6.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--YpZ .group-3-SHf {
  margin: 0rem 4.7rem 0rem 1.7rem;
  width: calc(100% - 6.4rem);
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--W2d {
  width: 36.9rem;
  height: 36.9rem;
  position: absolute;
  left: 0;
  top: 4.1rem;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--W2d .auto-group-mssq-crM {
  margin-bottom: 6.4rem;
  width: 100%;
  height: 26.2rem;
  position: relative;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--W2d .auto-group-mssq-crM .image-22-NKj {
  width: 26.5rem;
  height: 23.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--W2d .auto-group-mssq-crM .item--hso {
  width: 35.3rem;
  height: 2.9rem;
  position: absolute;
  left: 1.6rem;
  top: 23.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-fcbb-buK .item--W2d .group-2-ZQD {
  margin-left: 4.8rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--Syo {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 12.4rem 0rem 0rem 3.9rem;
  width: 26.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--Syo .image-24-9NR {
  margin: 0rem 3.9rem 1.3rem 0rem;
  width: 13.3rem;
  height: 14.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--Syo .item--fbf {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--Syo .group-2-MUV {
  margin-right: 3.8rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--3s7 {
  box-sizing: border-box;
  padding: 11.3rem 0rem 0rem 2.7rem;
  width: 26.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--3s7 .image-25-Yos {
  margin: 0rem 2.6rem 1.5rem 0rem;
  width: 18rem;
  height: 15rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--3s7 .item--t73 {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .item--3s7 .group-2-y8V {
  margin: 0rem 4.7rem 0rem 2.1rem;
  width: calc(100% - 6.8rem);
  height: 4.3rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB {
  box-sizing: border-box;
  padding: 7.8rem 0rem 0rem 5.9rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--nLq {
  margin-right: 2.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--nLq .image-24-j1B {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 16rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--nLq .item--rbb {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--nLq .group-2-a1o {
  margin-left: 0.9rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--TrH {
  margin-right: 6.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--TrH .image-24-cDP {
  margin: 0rem 0rem 1.3rem 0.5rem;
  width: 16rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--TrH .item-2-8Sd {
  margin: 0rem 0rem 6rem 2.6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--TrH .group-2-q69 {
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--7JZ {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--7JZ .image-24-2RX {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 16rem;
  height: 18.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--7JZ .item--MTo {
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #010a10;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .item--MEH .group-4-G6M .auto-group-yas3-rTB .item--7JZ .group-2-eSu {
  margin-left: 0.9rem;
  width: 17rem;
  height: 4.3rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b23a3a;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .leftbuttonmilanep-8N5 {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 0;
  top: 17.5rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-tmfp-QZw .leftbuttonmilanep-4mX {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 111.9rem;
  top: 17.5rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-9etq-CMw {
  margin: 0rem 55.6rem 0rem 55.9rem;
  width: calc(100% - 111.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-9etq-CMw .ellipse-47-8WV {
  margin-right: 2.4rem;
  width: 2rem;
  height: 2rem;
  background-color: #010a10;
  border-radius: 1rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .item--BYm .milanepplaysionsofuckingbadasfuck-gdw .auto-group-9etq-CMw .ellipse-48-5Aq {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: #cccccc;
  border-radius: 1rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT {
  margin: 0rem 16.1rem 4rem 16.1rem;
  box-sizing: border-box;
  padding: 2.032rem 26.8rem 2.168rem 37.5rem;
  width: calc(100% - 32.2rem);
  height: 12.3rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item--TSH {
  margin-bottom: 0.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB {
  margin-left: 3.75rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--2Nu {
  margin-right: 1.3196rem;
  box-sizing: border-box;
  padding: 1.04rem 0.967rem 1.04rem 0.967rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-2-xA5.png');
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--2Nu .star-1-Ys3 {
  width: 2.9001rem;
  height: 3.12rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--UVo {
  margin-right: 1.3041rem;
  box-sizing: border-box;
  padding: 1.04rem 0.967rem 1.04rem 0.967rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-2-edo.png');
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--UVo .star-1-oY5 {
  width: 2.9001rem;
  height: 3.12rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--Xys {
  margin-right: 1.3042rem;
  box-sizing: border-box;
  padding: 1.04rem 0.967rem 1.04rem 0.967rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-2.png');
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--Xys .star-1-rmF {
  width: 2.9001rem;
  height: 3.12rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--ogV {
  margin-right: 1.3042rem;
  box-sizing: border-box;
  padding: 1.04rem 0.967rem 1.04rem 0.967rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-2-bNR.png');
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--ogV .star-1-8yf {
  width: 2.9001rem;
  height: 3.12rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--fyb {
  box-sizing: border-box;
  padding: 1.04rem 0.967rem 1.04rem 0.967rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/star-2-Yuf.png');
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-30-CFT .frame-31-J3b .item-5--uZB .item--fyb .star-1-11s {
  width: 2.9001rem;
  height: 3.12rem;
  object-fit: contain;
  vertical-align: top;
}
.recipe-login--vF3 .frame-25-jCm {
  margin: 0rem 14.7rem 16rem 16rem;
  box-sizing: border-box;
  padding: 1rem 0rem 1.5rem 1.8rem;
  width: calc(100% - 30.7rem);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-24-dow {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-24-dow .item--zeV {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-24-dow .frame-23-uWZ {
  width: 100%;
  height: 4.8rem;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-24-dow .frame-23-uWZ .rectangle-45-SmP {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 18rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-24-dow .frame-23-uWZ .frame-21-BU5 {
  box-sizing: border-box;
  padding: 1rem;
  width: 84rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: rgba(153, 153, 153, 0.6000000238);
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-24-dow .frame-23-uWZ .frame-22-4Gy {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 1rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  background-color: #a50113;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .line-4-9ZK {
  margin: 0rem 0rem 4.681rem 0rem;
  width: 109.4993rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM {
  margin: 0rem 0rem 4.4rem 2rem;
  width: 79.4rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho {
  margin: 0rem 64.3rem 1.5rem 0rem;
  width: calc(100% - 64.3rem);
  display: flex;
  align-items: flex-end;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .rectangle-45-9Sq {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 18rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item--f3o {
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item-5--vkR {
  display: flex;
  column-gap: 0.3686rem;
  align-items: center;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item-5--vkR .item--EWD {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item-5--vkR .item--mm3 {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item-5--vkR .item--7pu {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item-5--vkR .item--sJH {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .auto-group-xrmw-cho .auto-group-m1uj-Wwb .item-5--vkR .item--cmf {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-28-gJM .item--x4q {
  margin-left: 5.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm {
  margin: 0rem 5rem 0rem 2rem;
  width: calc(100% - 7rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR {
  margin: 0rem 89.955rem 1.519rem 0rem;
  width: calc(100% - 89.9549rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .rectangle-45-1xD {
  margin-right: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 18rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX {
  width: 8.8451rem;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item--JgR {
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  white-space: nowrap;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item-5--dCu {
  width: 100%;
  display: flex;
  column-gap: 0.3686rem;
  align-items: center;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item-5--dCu .item--y1s {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item-5--dCu .item--uRK {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item-5--dCu .item--edo {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item-5--dCu .item--yvy {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .auto-group-ll4q-HWR .auto-group-b641-9oX .item-5--dCu .item--8Yy {
  width: 1.4742rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.recipe-login--vF3 .frame-25-jCm .frame-29-Mcm .item--foo {
  margin-left: 5.8rem;
  max-width: 98.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.15;
  color: #000000;
  font-family: Island Moments, 'Source Sans Pro';
  flex-shrink: 0;
}
.recipe-login--vF3 .footer-ivV {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 4.1rem 20.4rem 6.9rem 101.9rem;
  background-color: #010a10;
  flex-shrink: 0;
}
.recipe-login--vF3 .footer-ivV .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd {
  max-width: 21.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1499999364;
  color: #fffbf2;
  font-family: Island Moments, 'Source Sans Pro';
}
.recipe-login--vF3 .footer-ivV .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd-sub-0 {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.2575;
  color: #fffbf2;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
}
.recipe-login--vF3 .footer-ivV .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd .facebook-zabzab-instagram-zabzab-youtube-zabzab-FQd-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #fffbf2;
  font-family: ABeeZee, 'Source Sans Pro';
}
