html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

input {
  border: none;
}

body {
  width: 144.8rem;
}

.sign-in-aGy {
  width: 100%;
  height: 102.4rem;
  position: relative;
}

.sign-in-aGy .desktop-1-ua9 {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.sign-in-aGy .desktop-1-ua9 .rectangle-46-EsK {
  width: 72rem;
  height: 125.1rem;
  object-fit: cover;
  vertical-align: top;
}

.sign-in-aGy .group-12-Mww {
  box-sizing: border-box;
  padding: 8rem 23.5rem 33rem 24.7rem;
  width: 84rem;
  height: 102.4rem;
  position: absolute;
  left: 60.8rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffbf2;
  border-radius: 5rem 0 0 0;
}

.sign-in-aGy .group-12-Mww .item--FnR {
  margin: 0rem 0rem 3.4rem 0rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1725;
  letter-spacing: 0.08rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury {
  margin: 0rem 0.7rem 3.5rem 0rem;
  box-sizing: border-box;
  padding: 2.4rem 0rem 2.2rem 2.4rem;
  width: 34.9rem;
  row-gap: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-bzh {
  margin-right: 2.9rem;
  width: 29.6rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-bzh .item--Miy {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #111111;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-bzh .sec-G5F {
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.6rem 0.8rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #111111;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eeeeee;
  background-color: rgba(249, 249, 249, 0.8000000119);
  border-radius: 0.4rem;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-8NM {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-8NM .sec-J1w {
  margin-bottom: 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-8NM .sec-J1w .item--Fhs {
  margin-right: 15.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #111111;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-8NM .sec-J1w .item--B5j {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #007aff;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-8NM .sec-sDT {
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.6rem 0.8rem;
  width: 29.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #111111;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #eeeeee;
  background-color: rgba(249, 249, 249, 0.8000000119);
  border-radius: 0.4rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .sec-jmT {
  margin-right: 2.9rem;
  width: 29.6rem;
  height: 3.4rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007aff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .frame-61-d69 {
  margin: 0rem 7.6rem 0rem 4.4rem;
  width: calc(100% - 12rem);
  height: 1.8rem;
  position: relative;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .email-login-ury .frame-61-d69 .item--MH3 {
  width: 12rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #111111;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}

.sign-in-aGy .group-12-Mww .email-login-ury .frame-61-d69 .item--Rnh {
  width: 11.8rem;
  height: 1.8rem;
  cursor: pointer;
  position: absolute;
  left: 8.7rem;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #007aff;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP {
  margin-right: 1.3rem;
  width: 34.5rem;
  row-gap: 2.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-w-google-BvH {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 1.6rem 4.2rem 1.6rem 1.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1679999977), 0 0 0.3rem rgba(0, 0, 0, 0.0839999989);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-w-google-BvH .google-logo-htd {
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-w-google-BvH .google-SrD {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(0, 0, 0, 0.5400000215);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-with-facebook-left-aligned-fixed-uE1 {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding: 1.6rem 1.8rem 1.4rem 1.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  background-color: #1877f2;
  border-radius: 1rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-with-facebook-left-aligned-fixed-uE1 .facebook-logo-p65 {
  margin: 0rem 1.6rem 0.2rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-with-facebook-left-aligned-fixed-uE1 .facebook-8cZ {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Helvetica, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-with-apple-left-aligned-fixed-r2m {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 1.6rem 5.4rem 1.4rem 1.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-with-apple-left-aligned-fixed-r2m .apple-logo-9nZ {
  margin: 0rem 1.6rem 0.2rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.sign-in-aGy .group-12-Mww .continue-with-TjP .continue-with-apple-left-aligned-fixed-r2m .apple-5RK {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: SF Pro Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
